
.idea/.name
.idea/compiler.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
target/classes/com/codecool/geometry/containers/ShapeCollection.class
target/classes/com/codecool/geometry/Main.class
target/classes/com/codecool/geometry/shapes/Circle.class
target/classes/com/codecool/geometry/shapes/EquilateralTriangle.class
target/classes/com/codecool/geometry/shapes/Rectangle.class
target/classes/com/codecool/geometry/shapes/RegularPentagon.class
target/classes/com/codecool/geometry/shapes/Shape.class
target/classes/com/codecool/geometry/shapes/Square.class
target/classes/com/codecool/geometry/shapes/Triangle.class
target/classes/com/codecool/geometry/utilities/FormulaProvider.class
